{% extends 'form.html' %}

{% block other_buttons %}
	<button id="send_code" class="btn btn-primary">发送验证码</button>
{% endblock %}

{% block script_extends %}{# form继承base #}
	<script type="text/javascript">
		$("#send_code").click(function(){
			var email = $("#id_email").val();//获取输入的邮箱值
			if(email==""){
				$("#tip").text('邮箱不能为空哦');
				return false;
			}

			//发送验证码
			$.ajax({
				url:"{% url 'send_vercode' %}",
				type:"GET",
				data:{
					'email':email
				},
				cache:false,
				success:function(data){
					if(data['status']=='ERROR'){
						alert(data['status']);
					}
				}
			});
			//点完发送验证码后按钮变灰
			$(this).addClass('disabled');
			$(this).attr('disabled',true);
			var time = 30; //前端设置倒计时30秒不能再次发送验证码
			$(this).text(time + 's');
			var interval = setInterval(() => {
				if(time<=0){ //如果小于0就执行以下操作
					clearInterval(interval);
					$(this).removeClass('disabled');
					$(this).attr('disabled',false);
					$(this).text('发送验证码');
					return false;
				}
				time --;
				$(this).text(time + 's');
			},1000);
		});
	</script>
{% endblock %}